version: "3.8"

services:
  backend:
    build: ./backend
    container_name: wanderlust-backend
    ports:
      - "5000:5000"
    restart: always

  frontend:
    build: ./frontend
    container_name: wanderlust-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: always
